.EditTask {
    text-align: center;
  }
  .EditTaskTitle{
      color: grey;
      font-family: "Amatic SC", cursive;
      font-size: 2rem;
  }
  
  .EditForm {
    display: block;
    width: 30%;
    min-height: fit-content;
    /* height: 20vh; */
    margin: 5% auto;
  }
  
  .EditFormDiv {
    display: flex;
  
    /* flex-direction: column; */
    justify-content: space-between;
    /* align-items: end; */
  }
  
  .EditFormBtn{
      margin-top: 10%;
      display: flex;
      justify-content: space-between;
  }
  