.task {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  height: 2rem;
  min-width: 40vw;
  align-items: center;
}

.description {
  text-align: start;
  font-family: "Patrick Hand", cursive;
  font-size: 1.1rem;
  color: rgb(64, 64, 64);
}

.strike {
  text-decoration: line-through;
  color: grey;
}

.task-btn {
  height: 2rem;
  width: 2rem;
}
